// same height as the 300x250 ad that will display on the right of this
$guide-card-height: 250px;

.card.is-guide    {
  min-height: $guide-card-height;
  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  background-position: -50px center;
  background-size: 25%;

  .card-content   {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
  }

  .subtitle   {
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 0;
    display: block;
  }

  // call to action
  .button       {
    position: relative;

    span        {
      position: absolute;
      font-size: 16px;
      transform: rotate(-10deg);
      top: -23px;
      right: -70px;
      color: rgba(#000, 0.8);
    }
  }
}