/**
 * -------------------------------------------------------
 * Cards
 * -------------------------------------------------------
 */
.card.is-scotch {
  border-radius: 5px;
  height: 100%; }
  .card.is-scotch .card-content {
    padding: 20px; }
  .card.is-scotch .title {
    font-size: 18px;
    line-height: 1.5; }
    .card.is-scotch .title a {
      color: rgba(0, 0, 0, 0.7);
      transition: 0.3s color; }
      .card.is-scotch .title a:hover {
        color: rgba(0, 0, 0, 0.6); }
  .card.is-scotch .subtitle {
    color: rgba(0, 0, 0, 0.5); }
  .card.is-scotch .card-footer {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
