$card-image-padding: 8px;

.card.is-scotch:hover {
  .image,
  .free-or-premium,
  .play {
    transform: translateY(-10px);
  }
}

.card-image {
  position: relative;
  padding: $card-image-padding;
  padding-bottom: 0;
  
  &:hover {
    .free-or-premium,
    .play {
      opacity: 1;
    }
  }

  .image {
    background-size: cover;
    background-position: center center;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    margin-top: -20px;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(.52,.28,.47,1.15) transform;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.20), 
      0 2px 9px 0 rgba(62,57,107,0.20);
  }

  .free-or-premium {
    position: absolute;
    top: $card-image-padding - 12;
    right: $card-image-padding + 5;
    opacity: 0.7;
    transition: 0.3s cubic-bezier(.52,.28,.47,1.15) all;
  }

  .play {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: $card-image-padding;
    right: $card-image-padding + 5;
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    color: #444;
    opacity: 0.7;
    transition: 0.3s cubic-bezier(.52,.28,.47,1.15) all;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span {
      margin-bottom: 1px;
    }
  }
}
