$card-image-padding: 5px;

.card-image     {
  position: relative;
  padding: $card-image-padding;
  padding-bottom: 0;

  &:hover       {
    .free-or-premium,
    .play       {
      opacity: 1;
    }
  }

  .image        {
    background-size: cover;
    background-position: center center;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    border-radius: 5px;
  }

  .free-or-premium  {
    position: absolute;
    top: $card-image-padding + 5;
    right: $card-image-padding + 5;
    opacity: 0.7;
    transition: 0.3s opacity;
  }

  .play         {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: $card-image-padding;
    right: $card-image-padding + 5;
    background: #FFF;
    padding: 8px 10px;
    border-radius: 5px;
    color: #444;
    opacity: 0.7;
    transition: 0.3s opacity;

    img         {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span        {
      margin-bottom: 1px;
    }
  }
}