.card-image {
  position: relative; }
  .card-image .image {
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .card-image .play {
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #FFF;
    padding: 5px 10px;
    border-radius: 5px; }
