#scotch-nav form.search-form {
  display: flex;
  padding: 20px 1rem;
  min-width: 500px; }
  #scotch-nav form.search-form input {
    width: 100%;
    background: #000;
    color: #FFF !important;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    opacity: 0.3;
    transition: 0.3s ease opacity;
    color: #FFF; }
    #scotch-nav form.search-form input:focus {
      opacity: 0.7 !important; }
