.search-section:not(:last-child) {
  margin-bottom: 50px !important;
}

.search-hits  {
  padding-top: 60px;
  padding-bottom: 70px;
  position: relative;

  &.is-large {
    padding-top: 80px;
    padding-bottom: 100px;   
  }
}

.search-box.search-section     {
  // position: fixed;
  // left: 0;
  // right: 0;
  // z-index: 999;
  background: linear-gradient(141deg,#04a6d7 0,#209cee 71%,#3287f5 100%);
  padding-bottom: 50px;
  padding-top: 45px;
  margin-bottom: 0 !important;

  > .container  {
    position: relative;
  }
}

.ais-SearchBox  {
  position: relative;
}

.ais-SearchBox-input {
  width: 100%;
  background: #FFF;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 20px 32px;
  font-size: 18px;
  opacity: 0.3;
  transition: 0.3s ease opacity;

  &:hover   {
    opacity: 0.4;
  }

  &:active,
  &:focus   {
    opacity: 1;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  }
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon   {
  display: none;
}

.search-box-extras        {
  padding-top: 10px;

  li    {
    display: none;

    &.is-current  {
      display: block;
    }

    &:first-child {
      text-indent: -9999px;
    }

    a   {
      color: rgba(#FFF, 0.7);
    }
  }
}