.search-hits  {
  padding-top: 190px;
  padding-bottom: 100px;
  position: relative;
}

.search-box     {
  position: fixed;
  left: 0;
  right: 0;
  background: #259BEE;
  z-index: 999;
  padding-bottom: 10px;
  padding-top: 15px;

  > .container  {
    position: relative;
  }
}

.ais-SearchBox  {
  position: relative;
}

.ais-SearchBox-input {
  width: 100%;
  background: #FFF;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 20px;
  font-size: 18px;
  opacity: 0.5;
  transition: 0.3s ease opacity;

  &:hover   {
    opacity: 0.7;
  }

  &:active,
  &:focus   {
    opacity: 0.9;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  }
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon   {
  display: none;
}

.search-box-extras        {
  padding-top: 10px;

  li    {
    display: none;

    &.is-current  {
      display: block;
    }

    &:first-child {
      text-indent: -9999px;
    }

    a   {
      color: rgba(#FFF, 0.7);
    }
  }
}