.lesson-list {
  padding: 0 15px; }
  .lesson-list .lesson-item {
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 12px 10px;
    transition: 0.3s ease background;
    border-radius: 5px;
    font-size: 12px; }
    .lesson-list .lesson-item:hover {
      background: #EAF4FA; }
      .lesson-list .lesson-item:hover .title {
        color: #2c84b9; }
    .lesson-list .lesson-item .lock {
      margin-right: 4px;
      margin-top: 1px; }
    .lesson-list .lesson-item .title {
      margin: 0; }
    .lesson-list .lesson-item .actions {
      margin-left: auto;
      color: #BBB; }
      .lesson-list .lesson-item .actions span:not(:last-child) {
        margin-right: 8px; }
