body    {
  background: #F5F5F5;
  min-height: 100vh;
}

.search-hits  {
  padding-top: 200px;
  position: relative;
} 

.columns  {
  margin-bottom: 0 !important;
}

.search-guides > .column  {
  margin-bottom: 0 !important;
}

.ad   {
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.section-title  {
  margin-top: 60px;
  font-family: 'IBM Plex Sans';
  color: rgba(#000, 0.7);
  font-size: 30px;
  position: relative;
  display: flex;
  align-items: center;

  &:before  {
    content: '';
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 10px;    
  } 
}

.search-courses .section-title:before   {
  background-image: linear-gradient(80deg, #fc4a1a, #f7b733);
}

.search-essential .section-title:before   {
  background-image: linear-gradient(80deg, #ad5389, #3c1053);
}

.search-posts .section-title:before   {
  background-image: linear-gradient(80deg, #00D8FF, #00A7FF);
}

/**
 * -------------------------------------------------------
 * Search box
 * -------------------------------------------------------
 */
.search-box     {
  position: fixed;
  top: 100px;
  z-index: 999;
}

.ais-SearchBox  {
  position: relative;
}

.ais-SearchBox-input {
  width: 100%;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 30px;
  font-size: 22px;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon   {
  display: none;
}