body {
  background: #F5F5F5;
  min-height: 100vh; }

.search-hits {
  padding-top: 190px;
  position: relative; }

.columns {
  margin-bottom: 0 !important; }

.search-guides > .column {
  margin-bottom: 0 !important; }

.ad {
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }

.section-title {
  margin-top: 60px;
  font-family: 'IBM Plex Sans';
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  position: relative;
  display: flex;
  align-items: center; }
  .section-title:before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 10px; }

.search-courses .section-title:before {
  background-image: linear-gradient(80deg, #fc4a1a, #f7b733); }

.search-essential .section-title:before {
  background-image: linear-gradient(80deg, #ad5389, #3c1053); }

.search-posts .section-title:before {
  background-image: linear-gradient(80deg, #00D8FF, #00A7FF); }

/**
 * -------------------------------------------------------
 * Search box
 * -------------------------------------------------------
 */
.search-box {
  position: fixed;
  left: 0;
  right: 0;
  background: #E7E7E7;
  z-index: 999;
  padding-bottom: 10px;
  padding-top: 15px; }
  .search-box > .container {
    position: relative; }

.ais-SearchBox {
  position: relative; }

.ais-SearchBox-input {
  width: 100%;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 20px;
  font-size: 18px; }

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
  display: none; }

.search-box-extras {
  padding-top: 10px; }
  .search-box-extras li {
    display: none; }
    .search-box-extras li.is-current {
      display: block; }
    .search-box-extras li:first-child {
      text-indent: -9999px; }
    .search-box-extras li a {
      color: rgba(0, 0, 0, 0.7); }
