body    {
  background: #F5F5F5;
  min-height: 100vh;
}

.columns  {
  margin-bottom: 0 !important;
}

.search-guides > .column  {
  margin-bottom: 0 !important;
}

.ad   {
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.search-courses .section-title:before   {
  background-image: linear-gradient(80deg, #fc4a1a, #f7b733);
}

.search-essential .section-title:before   {
  background-image: linear-gradient(80deg, #ad5389, #3c1053);
}

.search-posts .section-title:before   {
  background-image: linear-gradient(80deg, #00D8FF, #00A7FF);
}
 
.read-more  {
  margin-top: 30px;
}

.is-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-courses .column,
.search-essential .column,
.search-posts .column {
  padding-top: 20px;
  padding-bottom: 20px;
}

/**
 * Search filters (refinement list) 
 */
ul.ais-Menu-list {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
}

li.ais-Menu-item {
  &.ais-Menu-item--selected .ais-Menu-link {
    background: rgba(#000, 0.12) !important;
    color: rgba(#000, 0.95) !important;
  }
}

a.ais-Menu-link {
  display: block;
  background: rgba(#000, 0.03);
  color: rgba(#000, 0.6);
  border-radius: 50px;
  margin-right: 8px;
  padding: 7px 25px;
  transition: 0.3s all;
  will-change: background, color;
  cursor: pointer;

  &:hover   {
    background: rgba(#000, 0.08);
  }
  
  .ais-Menu-checkbox {

  }

  .ais-Menu-labelText {

  }

  .ais-Menu-count {

  }
}