body    {
  background: #F5F5F5;
  min-height: 100vh;
}

.tag  {
  margin-top: 50px;
  margin-bottom: 10px;
}

/**
 * -------------------------------------------------------
 * Cards
 * -------------------------------------------------------
 */
.card.is-scotch     {
  border-radius: 5px;

  .title            {
    a               {
      color: rgba(#000, 0.9);
    }
  }

  .subtitle         {
    color: rgba(#000, 0.5);
  }
}

/**
 * -------------------------------------------------------
 * Search box
 * -------------------------------------------------------
 */
.search-box     {
  margin-bottom: 50px;
}

.ais-SearchBox  {
  position: relative;
}

.ais-SearchBox-input {
  width: 100%;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 30px;
  font-size: 22px;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon   {
  display: none;
}