#scotch-nav {

  .navbar-item {
    transition: 0.3s ease background;
  }

  // logo
  .navbar-brand {
    position: relative;
    padding-left: 50px;

    .navbar-item {
      &:hover {
        background: none;

        img.scotch-logo {
          transform: scale(1.04);
        }
      }

      img.scotch-logo {
        position: fixed;
        left: 0; 
        top: 0;
        height: 90px;
        z-index: 999;
        max-height: inherit !important;
        will-change: transform;
        transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1) transform;
      }
    }
  } // navbar-brand

  // menu
  .navbar-menu {
    .navbar-item {
      margin-bottom: 25px;
      margin-top: 25px;
      border-radius: 5px;
      color: rgba(#FFF, 0.6);
      transition: 0.3s all;

      &:hover {
        color: rgba(#FFF, 0.8);
      }
    }
  } // navbar-menu
}
